<div class="firstLastName">
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input [disabled]="progressBar" [(ngModel)]="user.firstName" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input [disabled]="progressBar" [(ngModel)]="user.lastName" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
</div>

<mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input [disabled]="progressBar" [(ngModel)]="user.email" matInput placeholder="Email">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Birthdate</mat-label>
    <input [disabled]="progressBar" [(ngModel)]="birthDate" matInput placeholder="Placeholder" [matDatepicker]="picker1">
    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>